body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

p,
h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.web {
    color: #2e2f42;
}

.header-nav-container {
    display: flex;
}

.nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    display: flex;
    margin-right: auto;
    align-items: center;
}

.nav-menu-link {
    padding: 24px 0;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-menu-link {
    color: #2e2f42;
}

.nav-menu-link:hover,
.nav-menu-link:focus {
    color: #404BBF;
}

.nav-menu-link:hover::after  {
            content: "";
            position: absolute;
            width: 48px;
            height: 4px;
            left: 0;
                bottom: -25px;
                display: block;
                width: 100%;
            border-radius: 2px;
            background-color: #404BBF;
     }

         .nav-item {
            position: relative;
         }



.adress {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    font-style: normal;
}

.adress-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.adress-link {
    color: #434455;
}

.adress-link:hover,
.adress-link:focus {
    color: #404bbf;
}

.section-title {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 188px 0;
}

.title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.0714;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.section-features {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title-features {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-features {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.title-team {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.title-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-align: center;
    margin-bottom: 8px;
}

.name-prof {
    padding: 32px 0;
}

.title-prof {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
}


.icon-team-item {
display: inline-block;
width: 40px;
height: 40px;
}

.icon-team {

    fill: #F4F4FD;
    
    
}

.link-team {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404BBF;
    border-radius: 50%;
}


.sec-portfolio {
    background-color: #FFFFFF;
    padding: 120px 0 120px 0;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.title-text-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.main-portfolio {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.title-portfolio {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-portfolio {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.foot {
    background-color: #2E2F42;
    padding: 100px 0;
}

.logo-foot {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4d5ae5;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.text-foot {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
}

.web-foot {
    color: #f4f4fd;
}

.title-team,
.title-features,
.list-portfolio,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}